

#whoWeAre_content {
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0 50px 0 50px;
}

@media screen and (max-width: 1000px) {
    #whoWeAre_content {
        font-size: 1rem;
    }
}
