#environment_container{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url(../../../media/environment.jpg);
    color: white;
}

#environment_content{
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    width: 80%;
    border-radius: 0 50px 0 50px;
    background-color: rgb(86, 124, 89);
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}

@media screen and (max-width: 768px) {
    #environment_content {
        font-size: 1.3rem;
    }
  }